html{
    font-size: 62.5%;
    color: #191919; 
}



/*Estilo do Navbar*/


a{
    text-decoration: none !important;
}

body{
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
    
}
p{
    margin: 0 !important;
}


.centraliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    background: linear-gradient(138deg, rgba(153,27,27,1) 0%, rgba(238,17,17,1) 58%, rgba(153,27,27,1) 100%);
    box-shadow: 0px 6px 19px #00000033;
    height: 150px;
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}



/*FIM Responsividade Navbar*/



nav ul{
    padding: 0;
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;
}


nav ul li{
    color: #ffffff;
    padding: 0;
    font-size: 2.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cor-nav-elementos{
    color: #ffffff;
}
.cor-nav-elementos:hover{
    color: #d8d8d8;
}
.cor-nav-planos{
    color: #ffffff;
}


#nav-matricule-se{
    background-color: #ffffff;
    box-shadow: 0px 6px 19px #00000033;
    width: 250px;
    height: 60px;
    margin: 0px 10px;
    font-size: 2.75rem;
    border-radius: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cor-Matricule-se{
    color: #d41414;
    transition: 0.5s;
    
}
.cor-Matricule-se:hover{
    color: #d41414;
    font-size: 2.9rem;
    transition: 0.5s;
    
}

/*Estilo do drop Menu*/
.li-drop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 100px;
}

#planosNav{
    position: relative;
    
}
#planosNav:hover .seta{
    transform: rotateX(180deg);
    transition: 0.5s;
}


.seta{
    height: 10px;
    transition: 0.5s;
}


.divsubMenu{
    position: absolute;
    display: block;
    top: 70px;
    
}

.fonteTamanhoDrop{
    font-size: 1.8rem;
    padding: 7px 10px;
    color: #ffffff;
    
}
.fonteTamanhoDrop:hover{
    color: #d8d8d8;
}


.divsubMenu ul{
    background-color: #ad1818;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    white-space: pre;
    left: -22px;
    border-radius: 10px;
    z-index: 10;
    
}
.divsubMenu ul li:hover{
    
    border-radius: 10px;
    width: 100%;
}

.divsubMenu{
    display: none; /*                                                                                                     */
    z-index: 1;
    
}


nav ul li:hover .divsubMenu{
    display: block;
    animation: moveDrop 0.5s cubic-bezier(0, 0, 0.1, 0.99) 20ms;
}

@keyframes moveDrop {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 0.6;
    }
    
    100%{
        transform: scaleY(100%);
        opacity: 1;
    }
    
}

.linkDrop{
    text-align: center;
    height: 110px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#cardSeta{
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
}
.face{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22px;
    height: 15px;
    display: flex;
}
#logoNav{
    height: 100px;
    
}
/*FIM Estilo do drop Menu*/

#ul-nav-hamburguer{
    display: none;
}

.burguer{
   display: none;
}

.hamburguer{
    background-color: #ad1818;
    height: 100%;
    width: 400px;
    transform: translateX(-500px);
    transition: .6s;
    z-index: 3;
    left: 0;
    position: fixed;
}
.showmenu{
    transform: translateX(0px);
}

.hamburguer{
    display: none;
}

#fade_hamburguer{
    display: none;
}








@media (max-width: 1300px){
    nav ul li, #nav-matricule-se{
        font-size: 2.2rem;
    }
    .cor-Matricule-se:hover{
        font-size: 2.3rem;
    }

    #nav-matricule-se{
        width: 200px;
        height: 50px;
    }
    #logoNav {
        height: 80px;
    }
    #x-burguer img{
        height: 60px;
        padding: 15px;
        cursor: pointer;
    }
    
    
}
/*Media 2 */
@media (max-width: 1100px){

    #logoNav{
        height: 70px;
    }

    .ul-principal-nav{
        display: none;
    }
    .barras-burguer{
        height: 50px;
        padding-left: 20px;
        z-index: 3;
        
    }

    .barras-burguer{
        display: block;
    }

    nav{
        justify-content: space-between; 
        height: 115px;
    }

    .hamburguer ul{
        list-style: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;

    }

    #ul-hamburguer li{
        color: #ffffff;
        width: 100%;
        height: 60px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: #424242 solid 0.5px;
    }

    #ul-hamburguer li:hover{
        color: #d8d8d8;
        background-color: #dbdbdb;
        transition: 0.3s;
    }
    #ul-hamburguer li p:hover{

    }
    #ul-hamburguer li:hover{
        color: #ffffff;
    }
    
    #ul-hamburguer li p{
        margin: 0;
        color: #981c1c;

    }

    #ul-hamburguer {
        margin: 0;

    }
    
    .barras-burguer img{
        width: 50px;
        align-self: flex-end;
        z-index: 2;
        
    }

    #x-burguer img{
        height: 60px;
        padding: 15px;
        cursor: pointer;
    }

    #x-burguer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: linear-gradient(138deg, rgba(153,27,27,1) 0%, rgba(238,17,17,1) 58%, rgba(153,27,27,1) 100%);
    }

    .hamburguer{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: white;
    }
    #fade_hamburguer{
        position: fixed;
        width: 4000%;
        height: 4000%;
        background-color: hsla(0, 60%, 1%, 0.242);
        z-index: 3;
        display: none;
    }


    .slider{
        display: none;
    }

    
    .barras-burguer{
        display: block;

    }
  
    #ul-hamburguer{
        display: block;
    }


 
}


/*Media 3 */

@media (max-width: 750px){
    #logoNav{
        height: 50px;
    }

    
}

/*Media 4 (mabills) */

@media (max-width: 500px){
    #logoNav{
        width: 160px;
    }

    .hamburguer{
        width: 70%;
    }

    .barras-burguer img{
        width: 40px;
    }
    .barras-burguer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #nav-matricule-se {
        width: 130px;
        height: 50px;
    }

    .cor-Matricule-se{
        font-size: 1.5rem;
    }
    .cor-Matricule-se:hover{
        font-size: 1.6rem;
    }

}







/*FIM Estilo do Navbar*/



/*Estilo qualidades*/

.sessao2{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-qualidade{
    height: 130px;
}

.container-qualidades{
    width: 85%;
    height: 257px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-content: center;
}

.card-qualidade{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 20%;
    
}

.texto-duchas{
    font-size: 2rem;
    text-align: center;
}

.container-texto{
    height: 100px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}


.texto-maquinas, .texto-equipe, .texto-estacionamento{
    font-size: 1.7rem;
    text-align: center;
}
.texto-equipe, .texto-estacionamento, .texto-duchas, .texto-maquinas{
    text-align: center;
}
/*FIM Estilo qualidades*/





/* Estilo equipe*/

.sessao3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.container-img-equipe{
    /* background-color: rgb(56, 40, 20); */
    height: 400px;
    width: 50%;
}
.img-equipe{
    width: 500px;
    border-radius: 20px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 5px 4px 10px 3px #00000042;
}
.container-equipe-content-all{
    /* background-color: rgb(252, 217, 171); */
    display: flex;
    flex-flow: wrap;
    width: 85vw;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}

.container-texto2{
    width: 50%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(194, 151, 96); */
}

.titulo-textos{
    color: #ad1818;
    font-weight: bolder;
}
.paragrafos-King1{
    margin: 100px;
    font-size: medium;
    font-size: 2rem;
    padding: 28px 0;
}

/* FIM Estilo equipe*/



/* Estilo plano*/

.clor1{
    background-color: rgb(237, 210, 173);
}
.clor2{
    background-color: rgb(232, 197, 150);
}
.clor3{
    background-color: rgb(139, 101, 52);
}




.container-background-plano{
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 50px;
  
    background-color: #000000;
    background-image: url('../static/img/bacground-planosKing2.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.titulo-textos2{
    color: #87282a;
    font-weight: bolder;
    font-size: 3.1rem;
    text-shadow: 5px 4px 13px #ff000299;
    text-align: center;
}

.container-all-texto-plano{
    width: 85vw;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 64px;
    margin-top: 503px;
}

.container-texto-plano{
    width: 40%;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.paragrafos-King2{
    margin: 100px;
    font-size: medium;
    padding: 28px 0;
    font-size: 2.5rem;
    text-align: end;
    padding: 28px 22px;
    color: #d6d6d6;
    border-right: 7px solid #ad1818;
    border-radius: 5px;
}





.container-all-planos{
    color: #d6d6d6;
    width: 85vw;
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card-E-info{
    width: 100%;
    height: 660px;
    background-color: #45454551;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    padding: 15px;
    margin-top: 200px;
}

.container-img-car{
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
}
.container-img-car img{
    width: 100%;
    height: auto;
}

.paragrafos-King3{
    font-size: medium;
    padding: 28px 0;
    font-size: 2.5rem;
    text-align: center;
    padding: 28px 22px;
    color: #d6d6d6;
    border-right: 7px solid #ad1818;
    border-radius: 5px;
    opacity: 1;
    animation: deslocarEsquerda 0.8s ease-in forwards ;
    
}
.paragrafo-li-planos{
    font-size: 3rem;
    text-align: center;
    color: #d6d6d6;
}

.container-info{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@keyframes deslocarEsquerda {
    0%{
        transform: scaleX(0);
        opacity: 0;
        color: rgba(216, 216, 216, 0);
        border-right: 7px solid #ad1818;
    }
    
    
    100%{
        transform: scaleX(100%);
        opacity: 1;
        color: #d6d6d6;
        border-right: 7px solid #ad1818;
    }
    
    /* animation: deslocarEsquerda 1s ease-in-out 1s infinite ; */
}


.texto-info{
    display: none;
    width: 100%;
    height: 70%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.esconde{
    display: flex;
}

.container-btn-info{
    width: 100%;
    height: 30%;
    
}
.texto-info ul{
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.texto-info ul li{
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    animation: apareceCheck 0.8s ease-in 1s forwards;
    opacity: 0;
}
.texto-info ul li img{
    height: 30px;
}
@keyframes apareceCheck {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
.container-chek-li{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}


.btn-king-1{
    width: 350px;
    height: 80px;
    border-radius: 50px;
    background: linear-gradient(138deg, rgba(153,27,27,1) 0%, rgba(238,17,17,1) 58%, rgba(153,27,27,1) 100%);
    font-family: 'SF TransRobotics';
    font-size: 5rem;
    color: #d8d8d8;
    box-shadow: 0px 0px 9px 0px #a4a4a47d;
}
.btn-king-1:hover{
    color: #b2b2b2;
}



.container-valor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    animation: apareceCheck 0.8s ease-in 1.5s forwards;
    opacity: 0;
}
.container-valor p, .container-valor h2{
    font-size: 48px;
    padding: 5px;
}
.container-valor h2{
    margin: 0;
}
.container-valor p{
    border-right: solid 7px #ad1818;
    border-radius: 5px;
    padding: 5px 20px 5px 5px;
}

.valor{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}




/* FIM Estilo plano*/





/*Responsividade Navbar*/
/*Media 1 */
@media (max-width: 1300px){
    nav ul li, #nav-matricule-se{
        font-size: 2.2rem;
    }
    .cor-Matricule-se:hover{
        font-size: 2.3rem;
    }

    #nav-matricule-se{
        width: 200px;
        height: 50px;
    }
    #logoNav {
        height: 80px;
    }
    #x-burguer img{
        height: 60px;
        padding: 15px;
        cursor: pointer;
    }
    
    
}
/*Media 2 */
@media (max-width: 1100px){

    #logoNav{
        height: 70px;
    }

    .ul-principal-nav{
        display: none;
    }
    .barras-burguer{
        height: 50px;
        padding-left: 20px;
        z-index: 3;
        
    }

    .barras-burguer{
        display: block;
    }

    nav{
        justify-content: space-between; 
        height: 115px;
    }

    .hamburguer ul{
        list-style: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;

    }

    #ul-hamburguer li{
        color: #ffffff;
        width: 100%;
        height: 60px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: #424242 solid 0.5px;
    }

    #ul-hamburguer li:hover{
        color: #d8d8d8;
        background-color: #dbdbdb;
        transition: 0.3s;
    }
    #ul-hamburguer li p:hover{

    }
    #ul-hamburguer li:hover{
        color: #ffffff;
    }
    
    #ul-hamburguer li p{
        margin: 0;
        color: #981c1c;

    }

    #ul-hamburguer {
        margin: 0;

    }
    
    .barras-burguer img{
        width: 50px;
        align-self: flex-end;
        z-index: 2;
        
    }

    #x-burguer img{
        height: 60px;
        padding: 15px;
        cursor: pointer;
    }

    #x-burguer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: linear-gradient(138deg, rgba(153,27,27,1) 0%, rgba(238,17,17,1) 58%, rgba(153,27,27,1) 100%);
    }

    .hamburguer{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: white;
    }
    #fade_hamburguer{
        position: fixed;
        width: 4000%;
        height: 4000%;
        background-color: hsla(0, 60%, 1%, 0.242);
        z-index: 3;
        display: none;
    }


    .slider{
        display: none;
    }

    
    .barras-burguer{
        display: block;

    }
  
    #ul-hamburguer{
        display: block;
    }

    .container-qualidades{
        justify-content: space-between;
    }
    .img-qualidade{
        height: 100px;
    }
    
    .texto-duchas{
        font-size: 1.9rem;
    }
    
    .texto-maquinas, .texto-equipe, .texto-estacionamento{
        font-size: 1.7rem;
        text-align: center;
    }
    .container-texto{
        height: 100px;
        text-align: center;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        
    }

 
}


/*Media 3 */

@media (max-width: 750px){
    #logoNav{
        height: 50px;
    }

    .card-qualidade{
        width: 15%;
    }

    .texto-duchas{
        font-size: 1.5rem;
    }
    
    .texto-maquinas, .texto-equipe, .texto-estacionamento{
        font-size: 1.3rem;
    }
    
    .texto-maquinas{
        font-size: 1.2;
    }
    .img-qualidade{
        height: 90px;
    }
    .container-texto{
        width: 180%;
    }

    
}

/*Media 4 (mabills) */

@media (max-width: 500px){
    #logoNav{
        width: 160px;
    }

    .hamburguer{
        width: 70%;
    }

    .barras-burguer img{
        width: 40px;
    }
    .barras-burguer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #nav-matricule-se {
        width: 130px;
        height: 50px;
    }

    .cor-Matricule-se{
        font-size: 1.5rem;
    }
    .cor-Matricule-se:hover{
        font-size: 1.6rem;
    }

}


/*FIM Responsividade Navbar*/



/*FIM Estilo do Navbar*/

































/**/



/**/





/**/

