



/*Estilo do Navbar*/


a{
    text-decoration: none !important;
}

body{
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;

    /* background-image: url('../static/img/bacground-planosKing2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    
}
p{
    margin: 0 !important;
}


.centraliza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}















.nossa-equipe {
    background-color: #000000;
    text-align: center;
    
  }
  
  .nossa-equipe img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
    
  .descricao1 {
    color: #ffffff;
    margin-top: -7%;
    font-size: 18px;
  }

  .descricao2 {
    z-index: 2;
    background-color: #010000;
    font-weight: bold;
    font-size: 25px;
    color: rgba(238,17,17,1);
    height: 240px;
  }
  @keyframes subirDescer {
    0%{
        margin-top: 30px;
    }
    40%{
        margin-top: 45px;
    }

    100%{
        margin-top: 30px;
    }
    
  }
  .descricao2 img {
    height: 50px;
    animation: subirDescer 1s ease-out infinite;
  }

  

  .personal-trainer-section {
    background-color: white;
  }
  
  .container {
    margin: 5%;
    background-color: #cccccc;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
  }
  
  .nome {
    color: #ad1818;
    font-size: 50px;
    margin: 20px;
  }
  
  .pergunta {
    color: #ad1818;
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    font-size: 20px;
    font-weight: bold;
  }

  .resposta{
    color: #000000;
    font-size: 18px;
    text-align: justify;
  }
  
  .container img {
    height: 500px;
    border-radius: 20px; /* Mantém as bordas arredondadas */
  }

  .container-img-instrutores{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .container-redesocial{
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    align-content: center;
    justify-content: center;
  }
  .rede-social strong{
    font-size: 35px;
  }
  .rede-social a{
    list-style: none;
    color: #ad1818;
  }
  .rede-social a:hover{
    list-style: none;
    color: #961a1a;
  }
  .rede-social img{
    height: 40px;
    width: auto;
    border-radius: 1px;
  }

  @media (max-width: 1300px){
    .container img {
        height: 300px;
      }
    .container{
        flex-flow: column-reverse;
    }
    .rede-social img{
        height: 35px;
    }
    .resposta {
        font-size: 17px;
    }
  }

  @media (max-width: 600px){
    .container img {
        height: 350px;
      }
    .container{
        flex-flow: column-reverse;
    }
    .rede-social img{
        height: 35px;
    }
    .resposta {
        font-size: 15px;
    }
  }