

/*Estilo do Navbar*/


a{
    text-decoration: none !important;
}

body{
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
    
}
p{
    margin: 0 !important;
}


.centraliza{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    background: linear-gradient(138deg, rgba(153,27,27,1) 0%, rgba(238,17,17,1) 58%, rgba(153,27,27,1) 100%);
    box-shadow: 0px 6px 19px #00000033;
    height: 150px;
    width: 100vw;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}



/*FIM Responsividade Navbar*/



nav ul{
    padding: 0;
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;
}


nav ul li{
    color: #ffffff;
    padding: 0;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cor-nav-elementos{
    color: #ffffff;
}
.cor-nav-elementos:hover{
    color: #d8d8d8;
}
.cor-nav-planos{
    color: #ffffff;
}


#nav-matricule-se{
    background-color: #ffffff;
    box-shadow: 0px 6px 19px #00000033;
    width: 250px;
    height: 60px;
    margin: 0px 10px;
    font-size: 1.75rem;
    border-radius: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cor-Matricule-se{
    color: #d41414;
    transition: 0.5s;
    
}
.cor-Matricule-se:hover{
    color: #d41414;
    font-size: 1.8rem;
    transition: 0.5s;
    
}

/*Estilo do drop Menu*/
.li-drop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 100px;
}

#planosNav{
    position: relative;
    
}
#planosNav:hover .seta{
    transform: rotateX(180deg);
    transition: 0.5s;
}


.seta{
    height: 10px;
    transition: 0.5s;
}


.divsubMenu{
    position: absolute;
    display: block;
    top: 70px;
    
}

.fonteTamanhoDrop{
    font-size: 1.2rem;
    padding: 7px 10px;
    color: #ffffff;
    
}
.fonteTamanhoDrop:hover{
    color: #d8d8d8;
}


.divsubMenu ul{
    background-color: #ad1818;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 200px;
    white-space: pre;
    left: -22px;
    border-radius: 10px;
    z-index: 10;
    
}
.divsubMenu ul li:hover{
    
    width: 100%;
}

.divsubMenu{
    display: none; /*                                                                                                     */
    z-index: 1;
    
}


nav ul li:hover .divsubMenu{
    display: block;
    animation: moveDrop 0.5s cubic-bezier(0, 0, 0.1, 0.99) 20ms;
}

@keyframes moveDrop {
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 0.6;
    }
    
    100%{
        transform: scaleY(100%);
        opacity: 1;
    }
    
}

.linkDrop{
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#cardSeta{
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
}
.face{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22px;
    height: 15px;
    display: flex;
}
#logoNav{
    height: 80px;
    
}
/*FIM Estilo do drop Menu*/

#ul-nav-hamburguer{
    display: none;
}

.burguer{
   display: none;
}

.hamburguer{
    background-color: #ad1818;
    height: 100%;
    width: 400px;
    transform: translateX(-500px);
    transition: .6s;
    z-index: 3;
    left: 0;
    position: fixed;
}
.showmenu{
    transform: translateX(0px);
}

.hamburguer{
    display: none;
}

#fade_hamburguer{
    display: none;
}

.left{
    left: 0px !important;
}

.allPlanos{
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    
}
.allPlanos p{
    color: #ad1818;
}
.allPlanos p:hover{
    color: #780505;
}

/*FIM Estilo do Navbar*/










/*Responsividade Navbar*/
/*Media 1 */
@media (max-width: 1300px){
    nav ul li, #nav-matricule-se{
        font-size: 1.2rem;
    }
    .cor-Matricule-se:hover{
        font-size: 1.3rem;
    }

    #nav-matricule-se{
        width: 200px;
        height: 50px;
    }
    #logoNav {
        height: 68px;
    }
    #x-burguer img{
        height: 60px;
        padding: 15px;
        cursor: pointer;
    }


    .divsubMenu ul{
        white-space: nowrap;
        width: 150px;

    }

    .fonteTamanhoDrop {
        font-size: 1rem;
       
    }
    .left{
        left: 0px;
    }

    
    
}
/*Media 2 */
@media (max-width: 1100px){

    #logoNav{
        height: 70px;
    }

    .ul-principal-nav{
        display: none;
    }
    .barras-burguer{
        height: 50px;
        padding-left: 20px;
        z-index: 3;
        
    }

    .barras-burguer{
        display: block;
    }

    nav{
        justify-content: space-between; 
        height: 115px;
    }

    .hamburguer ul{
        list-style: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;

    }

    #ul-hamburguer li{
        color: #ffffff;
        width: 100%;
        height: 60px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: #424242 solid 0.5px;
    }

    #ul-hamburguer li:hover{
        color: #d8d8d8;
        background-color: #dbdbdb;
        transition: 0.3s;
    }
    #ul-hamburguer li p:hover{

    }
    #ul-hamburguer li:hover{
        color: #ffffff;
    }
    
    #ul-hamburguer li p{
        margin: 0;
        color: #981c1c;

    }

    #ul-hamburguer {
        margin: 0;

    }
    
    .barras-burguer img{
        width: 50px;
        align-self: flex-end;
        z-index: 2;
        
    }

    #x-burguer img{
        height: 60px;
        padding: 15px;
        cursor: pointer;
    }

    #x-burguer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: linear-gradient(138deg, rgba(153,27,27,1) 0%, rgba(238,17,17,1) 58%, rgba(153,27,27,1) 100%);
    }

    .hamburguer{
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: white;
    }
    #fade_hamburguer{
        position: fixed;
        width: 4000%;
        height: 4000%;
        background-color: hsla(0, 60%, 1%, 0.242);
        z-index: 3;
        display: none;
    }

    
    .barras-burguer{
        display: block;

    }
  
    #ul-hamburguer{
        display: block;
    }


 
}


/*Media 3 */

@media (max-width: 750px){
    #logoNav{
        height: 50px;
    }


    
}

/*Media 4 (mabills) */

@media (max-width: 500px){
    #logoNav{
        width: 160px;
    }

    .hamburguer{
        width: 70%;
    }

    .barras-burguer img{
        width: 40px;
    }
    .barras-burguer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #nav-matricule-se {
        width: 130px;
        height: 50px;
    }

    .cor-Matricule-se{
        font-size: 0.8rem;
    }
    .cor-Matricule-se:hover{
        font-size: 0.9rem;
    }

}

@media (max-width: 400px){
    

}



/*FIM Responsividade Navbar*/



/*FIM Estilo do Navbar*/

































/**/



/**/





/**/

